@mixin flex($display, $direction, $justify-content, $aling-items, $wrap) {
  display: $display;
  flex-direction: $direction ;
  justify-content: $justify-content;
  aling-items: $aling-items;
  flex-wrap: $wrap;
  padding: 1rem;
  margin: auto;
}