@media only screen and (min-width: 1440px) {
  section {
    .card-container {
      @include flex(flex, row, center, start, wrap);
      gap: 3rem;

      .card2 {
        width: 20rem;
        height: 30rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-card-nosotros {
    section {
      background-color: rgba(255, 255, 255, 0.596);
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 45rem 45rem 45rem;
      gap: 1rem;

      .card-nosotros {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        box-shadow: 0px 0px 10px 5px rgb(94, 93, 93);
        position: relative;
        overflow: hidden;

        &:hover .text-card {
          transition: all 0.6s linear;
          right: 0;
          top: 0;
        }

        .text-card {
          align-self: center;
          position: absolute;
          top: 100%;
          right: 0%;
          height: 100%;
          background-color: rgba(128, 128, 128, 0.527);
          backdrop-filter: blur(20px);
          text-shadow: 1px 1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0),
            1px 1px 1px rgb(0, 0, 0);
          color: rgb(197, 197, 197);
          font-weight: bold;
        }
      }
    }
  }
}

@media only screen and(min-width:768px) {
  .main-hero {
    section {
      .hero {
        h1 {
          font-size: 3rem;
        }
      }
    }
  }
}

@media only screen and(max-width:425px) {
  .card-nosotros {
    .text-card {
      p {
        font-weight: bold;
        font-size: 0.8rem;
      }
    }
  }
}
@media only screen and(max-width:768px) {
  .navbar {
    button {
      color: $color1;
    }
    .nav-item {
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and(min-width:768px) {
  .navbar-collapse {
    display: flex;
    justify-content: end;
  }
}
