.main-card-nosotros {
  margin: 0;
  width: 100%;
  height: 100%;

  h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
  }

  section {
    width: 100%;
    height: 100%;





    .card-nosotros {
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: 1fr 1fr;


      img {
        @extend %imagen;

      }

      .text-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(128, 128, 128, 0.447);




        h2 {
          font-weight: bold;
          font-size: 2rem;
        }

        p {
          font-weight: bold;
          padding: 1rem;
          width: 100%;
        }
      }
    }
  }
}