header {
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  background: linear-gradient(
    to left,
    rgba(0, 108, 112, 0.9) 0%,
    rgba(0, 58, 218, 0.712) 100%
  );

  section {
    width: 100%;
    height: 100%;
    z-index: 1;
    .logo {
      color: $color1;
      font-weight: bold;

      :nth-child(2) {
        color: #6bc2ff;
      }

      &:hover span {
        color: #fff;
        text-shadow: 0px 0px 20px #000000, 0px 0px 40px #000000,
          0px 0px 60px #000000;
        margin: 5px;
      }

      span {
        transition: all 0.8s ease;
      }
    }
  }
}
.enlaces-nav {
  transition: all 0.8s ease;

  :nth-child(1) {
    position: relative;
  }

  :nth-child(2) {
    position: relative;
  }

  :nth-child(3) {
    position: relative;
  }

  :nth-child(4) {
    position: relative;
  }

  :hover:nth-child(1)::after {
    color: $color4;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #6bc2ff;
    animation-name: underline;
    animation-duration: 0.5s;
  }

  :hover:nth-child(2)::after {
    color: $color4;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #6bc2ff;
    animation-name: underline;
    animation-duration: 0.5s;
  }

  :hover:nth-child(3)::after {
    color: $color4;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #6bc2ff;
    animation-name: underline;
    animation-duration: 0.5s;
  }

  :hover:nth-child(4)::after {
    color: $color4;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #6bc2ff;
    animation-name: underline;
    animation-duration: 0.5s;
  }

  li {
    a {
      transition: all 0.3s ease;
      color: #fff;
      text-shadow: 1px 1px 1px rgb(0, 0, 0);
      &:hover {
        color: $color4;
      }
    }
  }
}
