@mixin flex($display, $direction, $justify-content, $align-items, $wrap) {
  display: $display;
  flex-direction: $direction ;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
  padding: 1rem;
  margin: auto;
}