$color1: rgba(0, 19, 73, 0.964);
$color2: rgba(1, 38, 119, 0.935);
$color3: rgba(0, 92, 197, 0.956);
$color4: rgba(0, 181, 252, 0.978);
$color5: rgba(23, 247, 255, 0.948);

$fuente: "Rubik", sans-serif;
$fuente-parrafo: "Poppins", sans-serif;